<!DOCTYPE html>
<head>
    <title>
        Email service
    </title>
</head>
<body>
    {{#each emails}}
    <ul>
        <li>ID: {{this._id}}</li>
        <li>Action: {{this.action}}</li>
        <li>Recipient: {{this.recipient}}</li>
        <li>Subject: {{this.subject}}</li>
        <li>Timestamp: {{this.timestamp}}</li>
    </ul>
    {{/each}}
</body>
</html>