<!DOCTYPE html>
<head>
    <title>
        Email service
    </title>
</head>
<body>
    {{#if eventEmail}}
    {{#each emails}}
    <ul>
        <li>ID: {{this._id}}</li>
        <li>Action: {{this.action}}</li>
        <li>Subject: {{this.subject}}</li>
        <li>Recipient: {{this.recipient}}</li>
        <li>Timestamp: {{this.timestamp}}</li>
    </ul>
    {{/each}}
    {{/if}}
    {{#if summary}}
    <ul>
        {{#if this.recipient}}
        <li>Recipient: {{this.recipient}}</li>
        {{/if}}
        <li>Open action count: {{this.countOpen}}</li>
        <li>Click action count: {{this.countClick}}</li>
    </ul>
    {{/if}}
</body>
</html>